<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Error Occured</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="../../css/site.css"></link>
</head>
<body style="padding-top: 50px;">
	<div class="error content">
		<div class="banner">
			<div class="logo-left-clickable"></div>
			<div class="logo-content">
				<ul>
					<li>smart</li>
					<li>hotel</li>
					<li>360</li>
				</ul>
				<div class="bottom">coupon management</div>
			</div>			
		</div>
		<div class="main">
		<div class="message">
				<h1>Sorry ! the app ran into an issue. Visit after some time</h1>
			</div>
		
			<div class="back-link">
				<a href="/guest">back to hotel guests</a>
			</div>
			</div>
			</div>
			</body>
</html>